@font-face {
  font-family: UpheavalTT-BRK;
  src: url('../font/upheavtt.ttf');
}

body {
  padding: 0 30px; 
  background: url('../imgs/body.jpg');   
  @media (max-width: 767px) {
    background: url('../imgs/mobile-banner.jpg') 50%;    
    padding: 0 10px;
  }
}
.heist-container {     
  .heist-header {
    color: #fff;
    margin: 26px auto;
    position: relative;
    max-width: 1200px;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;      
    }
    h1 {
      text-shadow: 0 6px 0 #003c62;
      font-family: "UpheavalTT-BRK";
      text-align: center;
      font-size: 64px;
      line-height: 70px;
      @media (max-width: 767px) {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;       
      }
    }
    .header-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      @media (max-width: 1119px) {
        position: relative;        
      }
      a {
        text-decoration: none;
        color: white;
      }
      .BorderBox:hover {
        .BorderBox-border {
          background-color: #fdcd01 !important;
        }
      }
      .to-menu {
        font-family: "UpheavalTT-BRK";
        font-size: 18px;        
        display: flex;
        align-items: center;
        padding: 9px 15px;
        cursor: pointer;
        @media (max-width: 767px) {
          font-size: 16px;
          padding: 8px 12px;          
        }
        svg {
          margin-right: 10px;
        }
      }
      .to-menu:hover {
        background-color: rgba(250, 184, 1, 0.1);
      }
      .header-metamask {
        @media (max-width: 767px) {
          display: none;          
        }
        .wallet-box { 
          font-family: "UpheavalTT-BRK";         
          font-size: 18px;
          display: flex;
          align-items: center;
          padding: 9px 15px;
          cursor: pointer;
          @media (max-width: 767px) {
            font-size: 16px;
            padding: 8px 12px;          
          }
          svg {
            margin-right: 10px;
          }
          span {
            color: #fdcd01;
            margin-right: 10px;
          }
        }
      }
    }    
  }

  .heist-panel {
    max-width: 1200px;
    background: url('../imgs/heist.jpg') bottom no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
    padding-left: 40px;
    height: calc(100vh - 170px);
    overflow: auto;
    @media (min-height: 860px) {
      background-size: auto 100%;      
    }  
    @media (max-width: 767px) {
      height: calc(100vh - 160px);
      padding-left: 0;      
    }  

    @media (max-width: 960px) {
      height: calc(100vh - 200px);  
    } 
    .Heist-heistBox {
      display: flex;
      justify-content: center;
      height: 100%;
      @media (max-width: 767px) {
        flex-direction: column;
        height: auto;      
      }   
      @media (max-width: 960px) {
        flex-direction: column;
        height: auto; 
      }
      .Heist-container {
        background: rgba(19,20,21,.8);
        padding: 34px 40px;
        width: calc(100% - 392px);
        min-height: 680px;
        height: 100%;
        @media (max-width: 767px) {
          width: 100%;
          padding: 34px 20px;     
        }   
        @media (max-width: 960px) {
          width: calc(100% - 40px); 
        }
        .Heist-heistTabHeader {
          display: flex;
          .Heist-active {
            border-color: #fdcd01;
            box-shadow: 0 2px 0 0 #000;
            opacity: 1;
          }
          h1 {
            text-shadow: 0 2px 0 #000;
            font-size: 40px;
            opacity: .5;
            border-bottom: 3px solid transparent;
            margin-right: 40px;
            color: white;
            font-family: "UpheavalTT-BRK";
            cursor: pointer;
            @media (max-width: 767px) {
              font-size: 26px;
              margin-right: 24px;     
            } 
          }
        }

        .Heist-heistTabBody {
          padding-top: 24px;
          color: white;
          font-family: "UpheavalTT-BRK";
          @media (max-width: 767px) {
            padding-top: 12px;   
          } 
          p {
            font-size: 20px;
            text-shadow: 0 2px 0 #131415;
            margin-bottom: 32px;
            @media (max-width: 767px) {
              margin-bottom: 18px;
              font-size: 12px;   
            } 
          }

          .Heist-select {
            align-content: space-between;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin-top: 16px;
            h3 {
              font-size: 24px;
              margin: 16px 0;
              text-shadow: 0 2px 0 #131415;
              @media (max-width: 767px) {
                margin: 8px 0;
              } 
            }
            .Heist-btn {
              display: flex;
              align-items: center;
              text-shadow: 0 2px 0 #2e3a75;
              font-size: 28px;
              line-height: 38px;
              cursor: pointer;
              svg {
                margin-right: 10px;
              }
              .heist-btn-svg-1 {
                display: block;
              }
              .heist-btn-svg-2 {
                display: none;
              }
              &:hover {
                color: rgb(253, 205, 1);
                .heist-btn-svg-1 {
                  display: none;
                }
                .heist-btn-svg-2 {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  .heist-panel::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .heist-panel::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  .heist-panel::-webkit-scrollbar-corner {
    background: transparent;
  }

  .heist-panel::-webkit-scrollbar-thumb {
    background-color: #fdcd01;
    border: 0 solid transparent;
    border-radius: 2.5px;
    -webkit-filter: none;
    filter: none;
    -webkit-transition: background-color .25s,-webkit-filter .25s;
    transition: background-color .25s,-webkit-filter .25s;
    transition: background-color .25s,filter .25s;
    transition: background-color .25s,filter .25s,-webkit-filter .25s;
  }

  .heist-panel::-webkit-scrollbar-track, ::-webkit-scrollbar-track:hover {
    background: rgba(19,20,21,.5);
  }

  .heist-panel::-webkit-scrollbar-track {
    border: 0 transparent;
    border-radius: 2.5px;
  }

}